<div class="contanier px-3">
  <h4><%= @actor.name %></h4>
    <div class="row row-cols-lg-12">
      <div class="col-5">
          <div class="row row-cols-lg-4 g-4">
             <% @credits[:cast].each do |movie| %>
                  <div class="col">
                    <%= link_to movie_path(movie.id) do %>
                     <%= image_tag(
                          url_image(movie),
                          class: 'card-img-top',
                          size: '70x280',
                          alt: movie.title,
                          loading: 'lazy'
                        ) %>
                <% end %>
                </div>
              <% end %>
      <%= @crews %>
        </div>
    </div>
        <div class="col-6">
        <%= image_tag(
                  actor_image(@actor),
                  size: '200x350',
                  alt: @actor.name,
                  loading: 'lazy'
                ) %>
          <p class="text-start"><%= @actor.biography %></p>
        </div>
      </div>
    </div>
  </div>
</div>
